!!! 5
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Default Title"
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => "description", :content => content_for?(:description) ? yield(:description) : "App_Name"}
    %link{:rel => "shortcut icon", :href => "../ico/favicon.png"}
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap.no-icons.min.css"}
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %div= haml :navbar

    %div= yield


    #main{:role => "main"}
      .container
        .content
          .row
        .col-6.col-sm-6.col-lg-4
          %h2 Sheet 1
        .col-6.col-sm-6.col-lg-4
        .col-6.col-sm-6.col-lg-4
        .col-6.col-sm-6.col-lg-4
        .col-6.col-sm-6.col-lg-4
        .col-6.col-sm-6.col-lg-4
      %footer
        %p &copy; 2013

    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
